---
- name: Join worker nodes to cluster
  hosts: workers
  become: true
  
  tasks:
    # Fetch join command from master
    - name: Fetch join command from master
      slurp:
        src: /tmp/join-command.sh
      delegate_to: "{{ groups['master'][0] }}"
      register: join_command_content
    
    # Join the cluster
    - name: Join Kubernetes cluster
      shell: "{{ join_command_content.content | b64decode }}"
      args:
        creates: /etc/kubernetes/kubelet.conf
    
    # Wait for node to be ready
    - name: Wait for node registration
      pause:
        seconds: 30
