---
- name: Setup NFS server on master
  hosts: master
  become: true
  
  tasks:
    # Install NFS server
    - name: Install NFS server
      yum:
        name: nfs-utils
        state: present
    
    # Create NFS share directory
    - name: Create NFS share directory
      file:
        path: /data/nfs-share
        state: directory
        mode: '0777'
        owner: nobody
        group: nobody
    
    # Configure NFS exports
    - name: Configure NFS exports
      lineinfile:
        path: /etc/exports
        line: '/data/nfs-share 10.0.1.0/24(rw,sync,no_subtree_check,no_root_squash)'
        create: yes
        backup: yes
    
    # Start and enable NFS services
    - name: Start NFS server
      systemd:
        name: nfs-server
        state: started
        enabled: yes
    
    - name: Start RPC bind
      systemd:
        name: rpcbind
        state: started
        enabled: yes
    
    # Export NFS shares
    - name: Export NFS shares
      shell: exportfs -ra
      args:
        creates: /var/lib/nfs/etab

- name: Mount NFS on workers
  hosts: workers
  become: true
  
  tasks:
    # Install NFS client
    - name: Install NFS client
      yum:
        name: nfs-utils
        state: present
    
    # Create mount point
    - name: Create mount directory
      file:
        path: /data/nfs-share
        state: directory
        mode: '0777'
    
    # Mount NFS share
    - name: Mount NFS share
      mount:
        path: /data/nfs-share
        src: "10.0.1.10:/data/nfs-share"
        fstype: nfs
        state: mounted
        opts: defaults,vers=4.1
